.white.color {
    color:#FFFFFF;
    color:#FFFFFF;
}

.white.bg {
    background-color:#FFFFFF;
}

.grey.color {
    color:#B5C5C5;
}

.grey.bg {
    background-color:#B5C5C5;
}

.blue.color {
    color:#66CCDD;
}

.blue.bg {
    background-color:#66CCDD;
}

.cyan.color {
    color:#77DDBB;
}

.cyan.bg {
    background-color:#77DDBB;
}

.green.color {
    color:#BBE535;
}

.green.bg {
    background-color:#BBE535;
}

.yellow.color {
    color:#EEEE22;
}

.yellow.bg {
    background-color:#EEEE22;
}

.orange.color {
    color:#FFBB22;
}

.orange.bg {
    background-color:#FFBB22;
}

.red.color {
    color:#F56545;
}

.red.bg {
    background-color:#F56545;
}

.lilac.color {
    color:#d28ef6;
}

.lilac.bg {
    background-color:#d28ef6;
}