#settings {
    color:#444;
    font-family:"Roboto Slab";
    font-size:16px;
    _margin-left:auto;
    _margin-right:auto;

    margin-left:15px;
}

#settings .collumnDescription {
    width:275px;
}

#settings .collumnValue {
}

#settings .collumnValue.inactive {
    color:#888;
    font-weight:200;
}

#settings .collumnWithSub {
    padding-bottom:5px;
}

#settings .tc {
    padding:10px 5px;
}

#settings .settingsTitle {
}

#settings .settingsDetails {
    font-size:12px;
    padding-top:10px;
    color:#666;
}

#settings .rowMain {
    border-bottom:1px solid silver;
    border-top:1px solid silver;
}

#settings .rowSub .collumnDescription .tc {
    padding:5px 5px 5px 20px;
    _text-align:right;
}

#settings .rowSub .collumnValue .tc {
    padding:5px 5px;
}

#settings .tc>input, #settings .tc>select {
    border: solid 1px silver;
    border-radius: 3px;
    outline: none;
    padding: 7px;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 175px;
    font-family: Arial;
    font-size:15px;
}

#settings .button {
    /*
    border-color:silver;
    color:#666;
    padding-top:3px;
    padding-bottom:3px;
    */

    border-color: #1E77C9;
    color: #FFF;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #2587E2;
}


.taglinkblock {
    position:relative;
}

.taglinkblock > i {
    position:absolute;
    top:7px;
    right:-25px;
    cursor:pointer;
    color:#666;
}

.taglinkgroup {
    border: solid 1px silver;
    border-radius: 3px;
    padding:2px;
    background-color:whitesmoke;
    margin-bottom:10px;

}